.container-fluid{
    align-items: end !important;
}

.navbar{
    margin: 0 8%;
}

.nav-link{
    padding: 4px !important;
}

.btn-autogestion{
    font-family: "Roboto", serif !important;
    font-weight: 450;
    font-size: 16px;
    color: white;
    background: rgb(1,161,154);
    background: linear-gradient(162deg, rgba(1,161,154,1) 8%, rgba(0,125,138,1) 67%, rgba(0,88,85,1) 97%);
}