@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/variables-dark";
@import "./node_modules/bootstrap/scss/maps";
@import "./node_modules/bootstrap/scss/mixins";
@import "./node_modules/bootstrap/scss/root";
@import "./node_modules/bootstrap/scss/utilities";


$custom-colors: (
    // Verde
    "verde-1": #69C6B5,
    "verde-2": #00AE97,
    "verde-3": #008372,
    "verde-4":#215E6A,
    // VerdeV
    "verdeV-1":#cae2a3,
    "verdeV-2":#b4d67c,
    "verdeV-3":#8dbc57,
    "verdeV-4":#638041,
    // Azul
    "azul-1":#aad9f5,
    "azul-2":#52c3dd,
    "azul-3":#3992a9,
    "azul-4":#067d8a,
    // AzulV
    "azulV-1":#93bee6,
    "azulV-2":#48a2da,
    "azulV-3":#4274b7,
    "azulV-4":#303e99,
    // Naranja
    "naranja-1":#fff1cd,
    "naranja-2":#faaa3b,
    "naranja-3":#f58220,
    "naranja-4":#cb6a28,
    // Violeta
    "violeta-1":#dbc9df,
    "violeta-2":#b595c5,
    "violeta-3":#8961a9,
    "violeta-4":#604476,
    // Marron
    "marron-1":#f3c09c,
    "marron-2":#c09170,
    "marron-3":#c25527,
    "marron-4":#8f3e1e,
    // Rosa
    "rosa-1":#f8c7ca,
    "rosa-2":#f09096,
    "rosa-3":#ea4c50,
    "rosa-4":#cb2c30,
    // Gris
    "gris-1": #E1E1E1,
    "gris-2": #656667,
    "gris-3": #B8B8B8,
    "gris-4": #4B4B4C,
    //Blanco, Negro y Transparente
    "blanco75": #ffffffce,
    "blanco": #ffff,
    "negro": #000000,
    "transparente": rgba(0, 0, 0, 0)
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@each $name, $color in $custom-colors {
    .text-#{$name} {
      color: $color !important;
    }
  }


$utilities: (
  "border-colors": (
      property: border-color,
      class: border,
      values: map-merge($theme-colors, $custom-colors)
  ),
  "background-colors": (
      property: background-color,
      class: bg,
      values: map-merge($theme-colors, $custom-colors)
  )
);



// sm-576px
// md-768
// lg-992
// xl-1200
// xxl-1400



@import "./node_modules/bootstrap/scss/bootstrap.scss";
