// sm-576px
// md-768
// lg-992
// xl-1200
// xxl-1400




body{
    font-family: "Roboto", serif !important;
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #656667;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;
    }
}

.w-90{
    width: 90% !important;
    max-width: none !important;
}

/* Estilos del navbar */
.btn-autogestion{
    font-weight: 400;
    font-size: 16px;
    color: white !important;
}

.navbar-bot,
.navbar-burger{
    gap: 2%;
    .dropdown-item:hover{
        background-color: #00AE97;
        color: white !important;
    }
}

@media (max-width: 1024px) {
    .navbar-bot{
        gap: 1%;
    }
}



/* Estilos del carousel */

.carousel-container{
    .carousel-caption{
        height: 100%;
        left: 5% !important;
        padding: 0 10% 0 0!important;
        a:hover{
            background-color: #00AE97;
        }
    }
    img{
        margin-left: 50%;
    }
    .carousel-control-prev,
    .carousel-control-next{
        margin: 0 1%; 
        opacity: 1 !important;
        span{
            padding: 8px !important;
            height: 50px !important;
            border-radius: 8px;
        }
    }
    @media (max-width: 1400px) {
    h1 {
        font-size: x-large;
    }
    }   
}


/* Telefonos utiles */
.telefonos-container{
    margin-left: 5%;
}

@media (max-width: 1500px){
    .telefonos-titulo{
        font-size: 1.25rem;
    }
    .telefonos-subtitulo{
        font-size: 1rem;
    }
}

@media (max-width: 991px){
    .telefonos-container{
        .row{
            .col-10{
                .telefonos-titulo{
                    font-size: 1rem;
                }
            }
        }
    }
}

.container-botones{
    max-width: 100% !important; 
}

@media (max-width: 1199px){
    .container-botones{
        padding: 0 !important;
        width: 100% !important;
        .card{
            border-radius: 0px !important;
        }
    }
}



/* BOTONES */
.container-botones-home{
    .card {
        transition: transform 0.3s ease-in-out;
    }
    
    .card:hover {
        transform: translateY(-5px) scaleY(1.05);
        cursor: pointer;
    }
}

/* NOTICIAS */

.container-noticias{
    img{
        width: 50%;
        height: auto;
        border-radius: 8px;
        object-fit: cover;
    }
    .card-body{
        overflow: hidden;
        .card-text {
            max-height: 3.6em; 
            text-overflow: ellipsis;
            white-space: wrap; 
        }
    }
    a:hover{
        background-color: #00AE97
    }
    .btn-noticias {
        a {
            border: 1px solid #656667;
        }
        
        a:hover {
            background-color: #00AE97;
            color: #ffffff;
            border-color: #00AE97;
        }
    }
}



/* Footer */

// Footer-top
.container-casas{
    img{
        max-height: 90px !important;
    }
}


@media (max-width: 1199px){
    .logo-casas{
        max-height: 65px !important;
    }
}

.footer-body{
    padding:3rem 0 5rem 0;
    .logo-iram img{
        width: 150px !important;
        height: auto;
    }
}

.footer-bot-text{
    font-size: 0.7rem;
    h5{
    font-size: 0.7rem;
    }
}


.cartilla-footer{
    font-family: "roboto";
    font-size: 13px;
}


/* site map */

.accordion-button-disable{

    .accordion-button.no-arrow::after {
        content: none !important;
        display: none !important;
    }
}



/* cartilla */

/* Escala de 1.02 */
.btn-scale {
    transition: transform 0.3s ease-in-out !important;

    &:hover {
        transform: scale(1.02) !important;
    }
}

/* Sombra */
// .btn-shadow {
//     transition: box-shadow 0.3s ease-in-out !important;

//     &:hover {
//         box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.2), 2px 3px 5px rgba(0, 0, 0, 0.2) !important;
//     }
// }

/* Background verde */
// .btn-bg{
//     transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out !important;

//     &:hover {
//         background-color: #00AE97 !important;
//         color: #ffffff !important;
//     }
// }

/* Background + Sombra */
// .btn-bg-shadow {
//     transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out !important;

//     &:hover {
//         box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4), 0px 4px 6px rgba(0, 0, 0, 0.2) !important;
//         background-color: #00AE97 !important;
//         color: #ffffff !important;
//     }
// }


/* Escala + Sombra */
.btn-scale-shadow {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out !important;

    &:hover {
        transform: scale(1.02) !important;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4), 0px 4px 6px rgba(0, 0, 0, 0.2) !important;
    }
}

/* Background + Sombra + Escala*/
// .btn-bg-shadow-scale {
//     transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out !important;

//     &:hover {
//         box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4), 0px 4px 6px rgba(0, 0, 0, 0.2) !important;
//         background-color: #00AE97 !important;
//         color: #ffffff !important;
//         transform: scale(1.02) !important;
//     }
// }


// Iconos instuticional

// .container-institucional {
//     display: flex;
//     justify-content: center;

//     div {
//         width: 150px;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         text-align: center;

//         .icon-button {
//             height: 130px;
//             width: 130px;
//             border-radius: 50%;
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             border: none;
//             font-size: 40px;
//             color: white;
//             transition: 0.3s;
            
//         }
//     }
// }


// Botones afiliacion
.botones-afiliacion,
.botones-discapacidad {

    small:hover{
        color: white;
    }
}

// carousel historia
.container-carousel-historia{
    .carousel-item img {
        width: 100%; 
        height: 800px; /* Ajusta la altura según necesites */
        object-fit: cover; /* Recorta la imagen manteniendo la proporción */
    }
}

// institucional - comision administradora
#content1{
    .list-group{
        
        border-top-left-radius: 0 !important;
    }
}


// Active lateral
.list-group-item.activeLateral {
    background-color: #00AE97 !important;
}


.list-group-item.activeLateral a {
    color: white !important;
}





.dropdown-menu-responsive{
    .list-group-item a{
        padding-left: 0.5rem !important; /* Reduce el padding izquierdo */
        padding-right: 0.5rem !important; /* Añade un poco de padding derecho si es necesario */
        display: block
    }
}

// Tabla pills
.pills-adultos-mayores {
    .active{
    background-color: #c09170 !important;
    color: #ffffff !important;
    }
}

.pills-afiliaciones{
    .active{
    background-color: #215E6A !important;
    color: #ffffff !important;
    }
}